{{ define "main" }}
<main>
    <div class="imagem-fullscreen">
        <img src="ccmn.jpg" alt="Ponte do Saber">
    </div>

    <div class="mensagem">
        <div class="mensagem-texto">"A criatividade é a alma da Tecnologia"</div>
    </div>
    <div class="submensagem">
        <div class="submensagem-texto">Transformar quem você é em ações é a essência da jornada no IC.</div>
    </div>

    <div class="conteudo">
        <section class="secao">
            <h2 class="titulo-secao">Seção 1</h2>
            <p class="conteudo-secao">Conteúdo da seção 1...</p>
        </section>

        <section class="secao">
            <h2 class="titulo-secao">Seção 2</h2>
            <p class="conteudo-secao">Conteúdo da seção 2...</p>
        </section>

        <section class="secao">
            <h2 class="titulo-secao">Seção 3</h2>
            <p class="conteudo-secao">Conteúdo da seção 3...</p>
        </section>
    </div>
</main>
{{ end }}
