body,
.cabecalho,
.menu,
.lista-menu,
.item-menu,
.link-menu,
.conteudo,
.secao,
.titulo-secao,
.conteudo-secao,
.rodape,
.texto-rodape {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.cabecalho {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.conteudo {
    max-width: 800px;
    margin: 20px auto;
    padding: 100px 20px;
}

.secao {
    margin-bottom: 20px;
}

.rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.barra-azul{
    background-color: #1c3465;
    height: 35px;
}

.menu{
    background-color: #fff;
    color: #fff;
    padding: 0;
    text-align: center;
    font-size: 13px;
    display: flex;
}

.lista-menu {
    align-items: center;
    display: flex;
    width: calc(50% - 150px);
}

.lista-menu.esquerdo{
    justify-content: flex-end;
    margin-right: 150px;
}

.lista-menu.direito{
    margin-left: 150px;
}

.item-menu {
    position: relative;
}

.link-menu {
    text-decoration: none;
    padding: 10px 10px 7px;
    display: block;
    color: #7f7f7f;
    text-transform: uppercase;
}

.link-menu:hover{
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    background-color: #fff;
    padding: 20px 10px 20px 20px;
    width: 200px;
    list-style-type: none;

}

.submenu li {
    text-align: left;
    text-align: left;
    border-left: 2px solid #dbdbdb;
}

.submenu a {
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    transition: .5s ease-in-out;
    color: #1c3465;
    font-weight: bold;
}

.submenu a:hover {
    text-decoration: underline;
    transition: .5s ease-in-out;
}

.item-menu:hover .submenu {
    display: block;
}


.logoContainer {
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: width .4s ease-in-out;
    width: 315.5px;
    z-index: 100;
}

.mobileLogo{
    display: none;
}

.desktopLogo{
    max-width: 270px;
}

.imagem-fullscreen {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.imagem-fullscreen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    animation: corImagem 5s linear
}

@keyframes corImagem {
    0% {
        filter: grayscale(100%);
    }
    25% {
        filter: grayscale(75%);
    }
    50% {
        filter: grayscale(50%);
    }
    75% {
        filter: grayscale(25%);
    }
    100% {
        filter: grayscale(0%);
    }
  }

@keyframes efeitoMensagem {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.logo-ufrj {
    display: inline-block;
    margin-right: auto; 
    padding: 5px; 
    position: absolute;
    left: 10px;
}

.logo-ufrj img {
    height: 25px; 
}

.mensagem{
    text-align: center;
    position: absolute;
    top: 270px;
    width: 100%;
}

.mensagem .mensagem-texto{
    font-size: 66px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: efeitoMensagem 2s linear
}

.submensagem{
    text-align: center;
    position: absolute;
    top: 360px;
    width: 100%;
}

.submensagem .submensagem-texto{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: efeitoMensagem 2s linear
}



@media (max-width: 600px) {
    .lista-menu {
        flex-direction: column;
    }

    .item-menu {
        margin: 5px 0;
        position: static;
    }

    .submenu {
        position: static;
        display: none;
        width: 100%;
    }

    .item-menu:hover .submenu {
        display: block;
    }

    .logoContainer {
        width: auto;
    }
    
    .mobileLogo{
        display: block;
    }

    .desktopLogo{
        display: none;
    }
}
